#header .gnb>ul>li {
    position: relative;
}

#header .sub {
    /* 원래 position 뒤에 display가 위치함.
    다단메뉴 할 때는 예외. */
    height: 0;
    overflow: hidden;

    position: absolute;
    top: 110px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;

    text-align: center;
    width: 100%;
    line-height: 40px;

    transition: 0.5s;
}

/* header01에서 hover 위치 조정으로 다단 메뉴 전체 나오게 하기 */
#header .gnb:hover>ul>li .sub {
    height: 200px;
}

#header .gnb {
    /* position: relative; */
}

#header .gnb::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 0px;
    border-top: 1px solid #ddd;
    background: #fff;
    z-index: 999;

    transition: 0.5s;
}

#header .gnb:hover::before {
    height: 200px;
}